.primary-background{
    -fx-background-color: #4c3627;
}

.secondary-background{
    -fx-background-color: #b5a595 ;
}

.third-background{
    -fx-background-image: url('../IMG/Capture2.jpg');
    -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
    -fx-background-position: center; /* Positionnement de l'image au centre */
}
.five-background{
    -fx-background-image: url('../IMG/hdbac1.jpg');
    -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
    -fx-background-position: center; /* Positionnement de l'image au centre */
}

.four-background{
    -fx-background-image: url('../IMG/Cap1back.jpg');
    -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
    -fx-background-position: center; /* Positionnement de l'image au centre */
}

 .seven-background{
     -fx-background-image: url('../IMG/capargentback.jpg');
     -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
     -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
     -fx-background-position: center; /* Positionnement de l'image au centre */
 }

.eight-background{
    -fx-background-image: url('../IMG/cap33.jpg');
    -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
    -fx-background-position: center; /* Positionnement de l'image au centre */
}

.nine-background{
    -fx-background-image: url('../IMG/cap2 panier.jpg');
    -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
    -fx-background-position: center; /* Positionnement de l'image au centre */
}

.Ten-background{
    -fx-background-image: url('../IMG/tenBackcap.jpg');
    -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
    -fx-background-position: center; /* Positionnement de l'image au centre */
}

.eleven-background{
    -fx-background-image: url('../IMG/imj money.jpg');
    -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
    -fx-background-position: center; /* Positionnement de l'image au centre */
}
.twelve-background{
    -fx-background-image: url('../IMG/cappay4.jpg');
    -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
    -fx-background-position: center; /* Positionnement de l'image au centre */
}

.thirteen-background{
    -fx-background-image: url('../IMG/payy3.jpg');
    -fx-background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    -fx-background-size: cover; /* Pour redimensionner l'image pour remplir le conteneur */
    -fx-background-position: center; /* Positionnement de l'image au centre */
}

.card{
    -fx-background-color: #fff;
    -fx-background-radius: 28;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0 , 0 , 0 ,10.0);
}

.add-remove-layout{
    -fx-border-radius: 50;
    -fx-border-width: 1;
    -fx-border-color: #303030;
}

.rect-round{
    -fx-background-radius: 20;
}

.white-border{
    -fx-border-color: #fff;
}

.botton{
    -fx-background-color: #303030;
    -fx-background-radius: 20;
}