.dark-gray-background{
/*-fx-background-color:#46474A;*/
-fx-background-color:#A0816C;
}
.gray-background{
/*-fx-background-color:#636566;*/
-fx-background-color:E8DED1;
}

.transparent-background{
-fx-background-color:rgba(0,0,0,0);
}
.radius{
-fx-background-radius:100px;
}
.light-gray-background{
-fx-background-color:#F5ECDF;
}
.incomming-bubble{
-fx-background-color:#FFFFFF;
-fx-background-radius:20px;
}
.outgoing-bubble{
-fx-background-color:#F0CE71;
/*-fx-background-color:#50C984;*/
-fx-background-radius:20px;
}